@import "../../styles.scss";

.card {
  max-width: 550px;
  margin: 48px auto;
  background: $bg-secondary;
  border-radius: 16px;
  box-shadow: 0 4px 24px $shadow-dark;
  padding: 32px 40px 40px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}